@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #000022;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.search {
  position: relative;
  height: 50px;
}

.search .input {
  background-color: #fbf5f3;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.4s ease;
}

.btn {
  background-color: #e28413;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: transform 0.4s ease;
}

.btn i {
  position: absolute;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.btn:focus,
input:focus {
  outline: none;
}

.search.active .input {
  width: 200px;
  border-radius: 0;
}

.search.active .btn {
  /* moves the button to the right */
  transform: translateX(190px);
  background-color: #fbf5f3;
}

footer {
  position: absolute;
  bottom: 0;
  color: #e28413;
  margin: 10px;
  text-align: center;
  padding: 20px;
}

footer a {
  text-decoration: none;
  color: #e28413;
}

footer a:hover {
  color: #fbf5f3 !important;
}

footer a:visited {
  color: #e28413;
}